export QDB_API_DIR="${PWD}/qdb"
export QDB_LIB_DIR="${QDB_API_DIR}/lib"
export QDB_INCLUDE_DIR="${QDB_API_DIR}/include"

export CGO_LDFLAGS="${CGO_LDFLAGS} -L${QDB_LIB_DIR} -Wl,-rpath,${QDB_LIB_DIR}"
export CGO_CFLAGS="${CGO_CFLAGS} -I${QDB_INCLUDE_DIR}"
export DYLD_LIBRARY_PATH="${QDB_LIB_DIR}:${DYLD_LIBRARY_PATH}"
